__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/
ENV/
env/
env.bak/
venv.bak/

.vscode/

.pytest_cache/

.mypy_cache/

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

Pipfile
Pipfile.lock

instance/
*.db
*.sqlite3

*.log

.DS_Store
Thumbs.db

.idea/
*.iml

__pypackages__/
